/* UserSpace.css */
.user-space {
    position: relative;
    width: 100%;
    height: 100px; 
    display: flex;
    align-items: center;
  }
  
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img2.baidu.com/it/u=3984034305,2510110&fm=253&fmt=auto&app=120&f=JPEG?w=800&h=500');
    background-size: cover;
    opacity: 0.075;
    pointer-events: none; /* 不响应鼠标事件 */
  }  
  
  .content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }
  
  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    overflow: hidden;
    margin-right: 20px; 
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .user-details {
    /* margin-left: 10%; */
    display: flex;
    /* flex-grow:3; */
    flex-direction: column;
  }
  
  .username {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .uid {
    font-size: 12px; /* 小一号字 */
    color: rgba(0, 0, 0, 0.7); /* 浅于黑色的字体 */
  }
  