.contain2 {
  padding: 20px;
  display: flex;
  align-items: center;
  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 90%;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.contain2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://img2.baidu.com/it/u=3984034305,2510110&fm=253&fmt=auto&app=120&f=JPEG?w=800&h=500');
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  border-radius: inherit; 
  z-index: -1; 
}

.imager {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  margin-right: 10px; 
}
.info {
  flex: 1 1 auto; 
  margin-right: 10px;
}
.button1 {
  margin-left: 10px;

}
