/* src/components/SearchBar.css */

.search-bar-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.search-bar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar-input {
    flex-grow: 1;
    margin: 0 10px;
}
.transparent-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #666;
}
.left-button {
    margin-right: auto;
}

.right-button {
    margin-left: auto;
    margin-right: 10px;
}

.hot-searches {
    padding-top: 0px;
    margin-top: 10px;
    margin-bottom: 0;
}

.hot-searches-title {
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 0;
    display: inline-block; 
    vertical-align: middle;
    color: white;
}

.hot-searches-tags {
    display: inline-block;
    margin-left: 10px; 
    white-space: nowrap;
}

.hot-search-tag {
    margin-top: 0;
    margin-right: 5px;
    border-radius: 20px;
    max-width: calc(100% - 20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    display: inline-block; 
    vertical-align: middle;
}
