.myTravelogItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  .top {
    display: flex;
    justify-content: start;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: #777 1px solid;
    .myTravelogImg {
      border-radius: 10%;
    }
    .MyTravelogInfo {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: start;
      align-items: left;
      margin-left: 1rem;
      overflow: hidden;
      .MyTravelogTitle {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        font-size: 1.2rem;
        font-weight: bold;
      }
      .MyTravelogDescription {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-size: 1rem;
        color: #777;
      }
      .MyTravelogDate {
        font-size: 0.8rem;
        color: #777;
        margin-top: auto;
        text-align: end;
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    width: 100%;
    .auditResult {
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding: 0.3rem;
      width: 12rem;
    }
    .operate {
      display: flex;
      justify-content: space-between;
      width: 7.5rem;
    }
  }
}
