.contain1 {  
    padding: 20px;  
    background:white;  
  }  
    
  .title {  
    font-size: 18px;  
    font-weight: bold; 
  }  
    
  .userInfo {  
    color: #333; 
    line-height: 1.5; 
    font-size: 14px;  
  }